<h2>Trip Track</h2>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link<?=$tripActive?>" href="./triptrack/Admin/Trip">Trips</a>
  </li>
  <li class="nav-item">
    <a class="nav-link<?=$orgActive?>" href="./triptrack/Admin/Organization">Organizations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link<?=$memberActive?>" href="./triptrack/Admin/Member">
      Members
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link<?=$settingActive?>" href="./triptrack/Admin/Setting">Settings</a>
  </li>
</ul>