<div class="row">
  <div class="col-sm-6 mx-auto">
    <div class="card">
      <div class="card-header text-center">
        <h2 class="my-0">Welcome</h2>
      </div>
      <div class="card-body">
        <div class="text-center mb-3"><?=$tripButton?></div>
        <div class="text-center mb-3"><?=$viewButton?></div>
        <div class="text-center mb-3"><a class="btn btn-primary"
            href="./triptrack/Admin/Organization"><?=$organizationLabel?></a></div>

        <div class="text-center mb-3"><a href="./secure/logout.php" class="btn btn-danger">Logout</a></div>
      </div>
    </div>
  </div>
</div>