<h2>Your trip submissions</h2>
<?php if (!empty($rows)):?>
<table class="table table-striped">
    <tbody>
        <tr>
            <th>Approved</th>
            <th><?=$hostLabel?></th>
            <th>Destination</th>
            <th>Departing</th>
            <th>Returning</th>
            <th>&nbsp;</th>
        </tr>
        <?php foreach ($rows as $trip):?>
        <tr>
            <td style="width:10%">
                <?=$trip['approved'] ? '<div class="text-center text-success">Yes</div>' : '<div class="text-center text-danger">No</div>'?>
            </td>
            <td><?=$trip['host']?></td>
            <td><?=$trip['destinationCity'], ', ', $trip['destinationState']?></td>
            <td><?=strftime('%b %e, %y', $trip['timeDeparting'])?></td>
            <td><?=strftime('%b %e, %y', $trip['timeReturn'])?></td>
            <td><a href="./triptrack/Member/Trip/<?=$trip['id']?>">View</a></td>
        </tr>
        <?php endforeach;?>
    </tbody>
</table>
<?php else:?>
<p>You do not have any trips associated with your account.</p>
<?php endif;?>