<div class="float-right">
    <?php if ($trip):?>
    <a href="./triptrack/Member/Trip/<?=$trip['id']?>/edit" class="btn btn-outline-primary">Complete travel plan</a>
    <?php else:?>
    <a href="./triptrack/Member/Trip/create" class="btn btn-primary">Create travel plan</a>
    <?php endif;?>
</div>
<h2>Your trip submissions</h2>
<?php if (!empty($rows)):?>
<table class="table table-striped">
    <tbody>
        <tr>
            <th style="width: 15%">&nbsp;</th>
            <th>Approved</th>
            <th><?=$hostLabel?></th>
            <th>Destination</th>
            <th>Departing</th>
            <th>Returning</th>
        </tr>
        <?php foreach ($rows as $trip):?>
        <tr>
            <td><a href="./triptrack/Member/Trip/<?=$trip['id']?>" class="mr-1 btn btn-sm btn-success">View</a>
                <?php if (!$trip['approved']):?>
                <a href="./triptrack/Member/Trip/<?=$trip['id']?>/edit" class="mr-1 btn btn-sm btn-primary">Update</a>
                <?php endif;?>
            </td>
            <td style="width:10%">
                <?=$trip['approved'] ? '<div class="text-center text-success">Yes</div>' : '<div class="text-center text-danger">No</div>'?>
            </td>
            <td><?=$trip['host']?></td>
            <td><?=$trip['destinationCity'], ', ', $trip['destinationState']?></td>
            <td><?=strftime('%b %e, %y', $trip['timeDeparting'])?></td>
            <td><?=strftime('%b %e, %y', $trip['timeReturn'])?></td>
        </tr>
        <?php endforeach;?>
    </tbody>
</table>
<?php else:?>
<p>You do not have any trips associated with your account.</p>
<?php endif;?>