<div class="row">
  <div class="col-sm-8 mx-auto">
    <div class="card">
      <div class="card-header bg-primary">
        <h2 class="my-0 text-center text-white">Welcome</h2>
      </div>
      <div class="card-body">
        <div class="mb-3">Thank you for logging in. While you have an account on this site, you are not a member of a(n) <?=$organizationLabel?>. <a href="mailto:<?=$contactEmail?>">Contact the administrator</a> to assign you to your <?=$organizationLabel?>.</div>
      </div>
    </div>
  </div>
</div>